

.info-transition{
    
    /* transition: left 1s;
    transition: transform 1s;
    transition: background-size 1.2s; */
    transition: all 1s;
}
.box-body-info{
    background-image: linear-gradient(156deg, #ef506d 0%, #f9ab4b 100%);
    position: fixed;
    background-size:100% 100%;
}
.card-info-full{
    background-color: rgba(0, 0, 0, 0);
    background-size: 26% auto;
    width: 100%;
    height: 100%;
    top:2vh;
    left: 0;
    transition: transform 1s,background-size 1.5s;
}
.box-search-info-full{
    position: fixed;
    left: 32%;
    top:22%;
    width: 34%;
    z-index: 3000;
}
.box-search-info-full{
    left: 32%;
    top:20%;
    width: 36%;
}



/* card-block */
.card-company{
    margin: 0 auto;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.92);
    width: 80%;
    margin-top: 30px;
    transform: scale(1,1);
    animation: to_big 0.5s;
    transition: background-color 0.5s,transform 0.5s;
}
.card-company:hover{
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.03,1.03);
}

.card-company{
    padding: 20px 30px 20px 30px;
    font-size: 13px;
    line-height: 15px;
}

.card-title{
    background: -webkit-linear-gradient(246deg,#ef506d 0%, #f9ab4b 100%); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(246deg,#ef506d 0%, #f9ab4b 100%); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(246deg, #ef506d 0%, #f9ab4b 100%); /* Firefox 3.6 - 15 */
    background: linear-gradient(246deg,#ef506d 0%, #f9ab4b 100%); /* 标准的语法（必须放在最后） */
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 600;
    font-size: 1.5vw;
}
