@keyframes nav-dot{
    from {top: 0px;}
    to {top: 36px;}

}

@keyframes to_big{
    from{transform: scale(1.2,1.2)}
    to{transform: scale(1,1)}
}


.box-logo{
    position: absolute;
    top:1%;
    left: 9%;
    width: 25%;
    z-index: 99999;
}

#logo{
    position: absolute;
    top: 1vh;
    width: 8vw;
}

.title-logo{
    position: absolute;
    top:5vh;
    left:35%;
    color: white;

}

.title-logo label{
    display: block;
}

#title-logo-one{
    font-family: fzzdh;
    font-size: 2.5vw;
}

#title-logo-two{
    font-family: pf_light;
    font-size: 1vw;
    letter-spacing: 0.5vw;
    margin-top: 2vh;
}

.box-nav{
    position: absolute;
    left:40%;
    top:11%;
    width:70%;
    z-index: 99999;
}

.box-nav ul li{
    float: left;
    margin-left: 10%;
    position: relative;
    list-style: none;
    display: inline;
    /* margin-right: 140px; */
    animation: to_big 1s;
}


.box-nav ul li a{
    text-decoration: none;
    font-family: pf_regular;
    color: white;
    font-size: 1.1vw;
}

#nav-tools{
    margin-right: 0px;
}


.nav-active::after{
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #4ee5d8;
    position: absolute;
    top: 36px;
    left: 42%;
    animation: nav-dot 0.5s;
    animation-timing-function: ease-out;
}

.nav-active{
    font-family: pf_bold;
    font-weight: bold;
}

.box-nav ul li a:hover{
    font-weight: bold;
}

