* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background: linear-gradient(156deg, #00bcff 0%, #2fc87b 100%);
    background-size: 100%, 100%;

    overflow-x: hidden;

}

.box-body {
    background: url(../image/news.png) no-repeat fixed center 200%;
    background-size: 40% 80%;
    height: 1080px;

}

/*搜索栏*/

#box-search-info {

    /* border: 1px solid; */
    box-shadow: 0 8px 20px 2px rgba(0, 0, 0, 0.2);
    width: 30%;
    height: 36px;
    background: white;
    border-radius: 18px;
    margin: 15% auto 1%;
}

.search-input {
    width: 80%;
    height: 100%;
    float: left;
    border-radius: 18px;
    outline: none;
    padding-left: 1em;
}

.search-btn {
    width: 20%;
    height: 100%;
    background: linear-gradient(90deg, #00bcff 0%, #2fc87b 100%);
    border-radius: 18px;
    color: white;
    float: left;
    text-align: center;
    font-size: 1.3vw;
    padding-top: 0.18em;
    cursor: pointer;
}

.search-btn:hover {
    font-size: 1.4vw;
}

/*新闻列表*/

#news {
    margin-top: 4%;
    margin-left: 20%;
    margin-right: auto;
    width: 70%;
    height: 90%;

}

.news {
    display: none;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 4% 2%;
    float: left;
    width: 25%;
    height: 30%;
    z-index: 1;
    opacity: 0.92;
    box-shadow: 0 16px 24px rgba(61, 50, 172, 0.12);
    cursor: pointer;
}

.news:hover {
    transform: scale(1.05, 1.05);
    transition: opacity 0.1s;
    opacity: 1;
}

.news h5 {
    margin: 5% 5%;
}

.news p {
    margin: 5% 5%;
    font-size: 0.6em;
    text-indent: 1.2em;
}

.news img {

    width: 80%;
    margin-left: 12%;
    height: 50%;
    border-radius: 10px;
}

/*新闻正文*/

.article {
    display: none;
    position: absolute;
    border-radius: 10px;
    background: #FFFFFF;
    opacity: 0.92;
    width: 50%;
    height: 100%;
    box-shadow: 0 10px 32px 5px rgba(61, 50, 172, 0.16);
    margin-left: 25%;
    overflow: scroll;
}

.article::-webkit-scrollbar {
    display: none;
}

.article h3 {
    background: linear-gradient(-90deg, #00bcff 0%, #2fc87b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.article h4 {
    font-weight: lighter;
}

.article h3, h4 {
    text-align: center;
    line-height: 1.5em;
    margin: 2%;
}

.article p {

    text-indent: 2em;
    margin: 2% 5%;
    line-height: 1.5em;
}
