.box-body-tools{
    background-image: linear-gradient(156deg, #f093fb 0%, #f5576c 100%);
    position: fixed;
    background-size:100% 100%;
}

.card-tools-full{
    background-color: rgba(0, 0, 0, 0);
    background-size: 20% auto;
    width: 100%;
    height: 100%;
    top:2vh;
    left: 0;
    transition: transform 1s,background-size 1.5s;
}






/* origin */



/* #menu-t {
    float: left;
    height: 3%;
    margin: 15% 30% 3%;
    border-radius: 30px;
    cursor: pointer;
    background-color: #FFFFFF;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.16);
    z-index: 5;
}

#menu-t li {
    float: left;
    position: relative;
    text-align: center;
    line-height: 32px;
    width: 120px;
    border-radius: 30px;
    list-style: none;
}

.animate {
    width: 120px;
    position: absolute;
    background: linear-gradient(90deg, #f093fb 0%, #f5576c 100%);
    z-index: 0;
    border-radius: 32px;
    height: 32px;
}




.menu > .active::after {
    content: "";
    border: 20px solid transparent;
    border-top: 20px solid #f093fb;
    position: relative;
    top: 44px;
    left: -25px;
    animation: nav-dot 0.5s;
    animation-timing-function: ease-out;
}

@keyframes nav-dot {
    from {
        top: 25px;
    }
    to {
        top: 44px;
    }
}

.show {
    float: left;
    height: 10%;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 30px;
    list-style: none;
    line-height: 32px;

}

#submenu {
    width: 100%;
    display: flex;
}

.show {
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.16);
    opacity: 0;
    cursor: pointer;
    z-index: 5;
}

.show ul {
    list-style: none;
    border-radius: 30px;
}

.show li {
    position: relative;
    float: left;
    text-align: center;
    line-height: 30px;
    width: 120px;
    border-radius: 30px;
}

.hide {
    display: none;
}

.process {
    margin: 3% auto;
    border-radius: 20px;
    width: 100%;
    background: #FFFFFF;
    opacity: 0.92;
    line-height: 2em;

}

.process h4 {
    margin-left: 4%;
    font-weight: bold;
    text-align: left;
    background: linear-gradient(-90deg, #f093fb 0%, #f5576c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 3%;
}

.process p {
    padding: 1% 4%;

}

.article-active {

    margin: 3% auto;
    border-radius: 20px;
    width: 50%;
    background: #FFFFFF;
    opacity: 0;
    line-height: 2em;
    box-shadow: 0 10px 32px 5px rgba(0, 0, 0, 0.16);

}

.article-active > p {
    padding: 3% 3%;
    text-indent: 2em;
    line-height: 2em;
}

.article-hide {
    display: none;
}

#content2, #content3, #content4, #content5 {
    display: none;
} */
